<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light 
             bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/main_logo.png" alt="" class="imglogo">Sistema Marvin 8a
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div id="menuNavbar">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <!--  {{>opcionnavbar opcion = 'logout'}}-->
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/home">Home</a>
                    </li>

                    <!--  <ul class="navbar-nav flex-grow-1">
                    {{>opcionnavbar opcion = 'Home'}}
                </ul>-->

                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/signin">Registrar</a>
                    </li>
                    <!--{{>opcionnavbar opcion = 'SignIn'}}-->
                </ul>
            </div>

        </div>
</nav>

